NEXT_PUBLIC_GENLAYER_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61997
NEXT_PUBLIC_CONTRACT_ADDRESS=0xF12088c0feaF760c6Bc8F3E5A5a445A82ae08eEc
NEXT_PUBLIC_DEMO_POLICY_ID=cgfinal20260919201751c31ce658b75a
NEXT_PUBLIC_DEMO_REQUEST_ID=cghappy20260919201751c31ce658b75a
